.cal-row-cell {
    text-align: center;

    border-radius: 5px;
    border: 1px solid transparent;
    &:hover {
        cursor: pointer;
        border: 1px solid black;
    }
}

.selected-day {
    background-color: red;
    color: white;
}