.comp-input {
    h3 {
        font-size: 1.3em;
    }

    section {
        display: flex;
        gap: 4px;
        background-color: $white;
        input {

        }
        span {

        }
    }
}