.comp-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        font-size: 40px;
    }

    input {
        font-size: 20px;
        text-align: center;
        background-color: $white;
        border: 1px solid $black;
        border-radius: 5px;
        height: 35px;
        padding-left: 10px;
        transition: 0.3s all ease;
        @include input-shadow-box;
        &:focus, &:focus-visible {
            border-radius: 15px;
            border: 1px solid $blue;
            outline: 5px solid $blue;
        }
    }
}