$background: #260000;
$black: #010608;
$white: #EDEDED;
$red: #8C0000;
$green: #008C23;
$blue: #3429A6;
$yellow: #E6D273;
$font: 'Crimson Pro', serif;

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
}

@mixin input-shadow-box {
    box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.50);
}

@mixin input-style {
    font-size: 20px;
        text-align: center;
        background-color: $white;
        border: 1px solid $black;
        border-radius: 5px;
        height: 35px;
        padding-left: 10px;
        transition: 0.3s all ease;
        @include input-shadow-box;
        &:focus, &:focus-visible {
            border-radius: 15px;
            border: 1px solid $blue;
            outline: 3px solid $blue;
        }
}